{{!-- testing handlebars by way of hello world --}}
<p class="paragraph">hello Handlebars.js world</p>

<ul class="unordered-list">
  {{#each tickets}}
  <p>{{this.id}}</p>
  <p>{{this.ticket_name}}</p>
  <p>If you see a "0", then that means false: <span>{{this.completed}}</span></p>
  {{/each}}
</ul>


<form class="form" action="/controllers/tickets_controller.js" method="post">
  <div class="form-group">
    <label class="label" for="ticket_name">Describe Issue:</label>
  </div>
    <input class="form-input" type="text" id="ticket_name" name="ticket_name" /><br /><br />
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>